<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878277028572-lh223d4r0gebsd6nni1krl7n5k44kp35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878277028572-lh223d4r0gebsd6nni1krl7n5k44kp35</string>
	<key>API_KEY</key>
	<string>AIzaSyDWa7YtwAWUjNtL9iEf3ip2yxuS2_1Acas</string>
	<key>GCM_SENDER_ID</key>
	<string>878277028572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeTSProject</string>
	<key>PROJECT_ID</key>
	<string>react-native-integration-f9e44</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-integration-f9e44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878277028572:ios:b48e2f282a18006672a219</string>
</dict>
</plist>